
<br>
<br>
<br>
<br>
<br>
<br>

<p>movie-list works!</p>


<h1>Product List Component</h1>

<!-- <select (change)="categorySelection($event)">
    <option value="0">All Categories</option>
    <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
</select> -->

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Description</th>
      <th>Director</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.name }}</td>
      <td>{{ movie.year }}</td>
      <td> {{ movie.genre.name }}</td>
      <td>{{ movie.description }}</td>
      <td> {{ movie.director }}</td>
      <td> {{ movie.language }}</td>
      <td>
        <!-- <button (click)="btnClick(product.id, product.name, product.price)"  type="button" class="btn btn-success">
          Add
        </button> -->
      </td>
    </tr>
  </tbody>
</table>